@model Library.App.ViewModels.OrderViewModel

<tr id="@Model.Id">
    <td>
        @Model.BookName
    </td>
    <td>
        @Model.UserId
    </td>
    <td>
        <button onclick="confirm('@Model.Id')" class="btn btn-success">Confirm</button>
    </td>
    <td>
        <button onclick="reject('@Model.Id')" class="btn btn-danger">Reject</button>
    </td>
</tr>


