@{
    ViewBag.Title = "Home Page";
}

@using PagedList;
@using PagedList.Mvc;
@using Library.App.ViewModels
@model IPagedList<BookViewModel>

@if (HttpContext.Current.User.IsInRole("admin"))
{
    @Html.ActionLink("Add new Book", "ManageCreateBook", "AdministratorAccount", null, new { @class = "btn btn-primary" })
    <span>
        @Html.ActionLink("Add new Author", "ManageCreateAuthor", "AdministratorAccount", null, new { @class = "btn btn-primary" })
    </span>
    @Html.ActionLink("Add new Publisher", "ManageCreatePublisher", "AdministratorAccount", null, new { @class = "btn btn-primary" })
    <br />
}
<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    @Html.TextBox("search", String.Empty, new { @class = "form-control", @placeholder = "Search by Name/Author", @value = "search" });
}
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.ActionLink("Name", "Index", new { page = Request.QueryString["page"], search = Request.QueryString["Search"], orderBy = "Name", orderDirection = ViewBag.PreviosOrderDirection == "asc" && ViewBag.PreviosOrderBy == "Name" ? "desc" : "asc" })

                    if (ViewBag.PreviosOrderBy == "Name")
                    {
                        if (ViewBag.PreviosOrderDirection == "asc")
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        }
                    }
                }
            </th>
            <th>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.ActionLink("Author", "Index", new { page = Request.QueryString["page"], search = Request.QueryString["Search"], orderBy = "Author", orderDirection = ViewBag.PreviosOrderDirection == "asc" && ViewBag.PreviosOrderBy == "Author" ? "desc" : "asc" })

                    if (ViewBag.PreviosOrderBy == "Author")
                    {
                        if (ViewBag.PreviosOrderDirection == "asc")
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        }
                    }
                }
            </th>
            <th>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.ActionLink("Publisher", "Index", new { page = Request.QueryString["page"], search = Request.QueryString["Search"], orderBy = "Publisher", orderDirection = ViewBag.PreviosOrderDirection == "asc" && ViewBag.PreviosOrderBy == "Publisher" ? "desc" : "asc" })

                    if (ViewBag.PreviosOrderBy == "Publisher")
                    {
                        if (ViewBag.PreviosOrderDirection == "asc")
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        }
                    }
                }
            </th>
            <th>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.ActionLink("Year", "Index", new { page = Request.QueryString["page"], search = Request.QueryString["Search"], orderBy = "PublicationDate", orderDirection = ViewBag.PreviosOrderDirection == "asc" && ViewBag.PreviosOrderBy == "PublicationDate" ? "desc" : "asc" })

                    if (ViewBag.PreviosOrderBy == "PublicationDate")
                    {
                        if (ViewBag.PreviosOrderDirection == "asc")
                        {
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        }
                    }
                }
            </th>
            <th>
                @Html.ActionLink("Count", "Index", new { page = Request.QueryString["page"], search = Request.QueryString["Search"], orderBy = "Count", orderDirection = ViewBag.PreviosOrderDirection == "asc" && ViewBag.PreviosOrderBy == "Count" ? "desc" : "asc" })
                @if (ViewBag.PreviosOrderBy == "Count")
                {
                    if (ViewBag.PreviosOrderDirection == "asc")
                    {
                        <span class="glyphicon glyphicon-sort-by-order"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                    }
                }

            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="myTable">
        @if (Model.Count() == 0)
        {
            <tr>No match</tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Author))
                        {
                            <p>-</p>
                        }
                        else
                        {
                            @item.Author
                        }
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Publisher))
                        {
                            <p>-</p>
                        }
                        else
                        {
                            @item.Publisher
                        }
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.PublicationYear))
                        {
                            <p>-</p>
                        }
                        else
                        {
                            @item.PublicationYear
                        }
                    </td>
                    <td>
                        @item.Count
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { bookId = item.Id }, new { @class = "btn btn-info" })

                        @if (HttpContext.Current.User.IsInRole("admin"))
                        {
                            @Html.ActionLink("Edit", "ManageUpdateBook", "AdministratorAccount", new { bookId = item.Id }, new { @class = "btn btn-warning" })
                            <span>
                                @Html.ActionLink("Delete", "DeleteBook", "AdministratorAccount", new { bookId = item.Id }, new { @class = "btn btn-danger" })
                            </span>
                        }

                        @if (!(HttpContext.Current.User.IsInRole("admin") ||
                            HttpContext.Current.User.IsInRole("librarian")))
                        {
                            if (item.Count == 0)
                            {
                                <button class="btn btn-secondary" disabled="disabled" title="Temporarily unavailable">Order</button>
                                <button class="btn btn-secondary" disabled="disabled" title="Temporarily unavailable">Read</button>
                            }
                            else
                            {
                                @Html.ActionLink("Order", "CreateBookOrder", "Order", new { bookId = item.Id, isAtReadingRoom = false }, new { @class = "btn btn-success" })
                                <span>
                                    @Html.ActionLink("Read", "CreateBookOrder", "Order", new { bookId = item.Id, isAtReadingRoom = true }, new { @class = "btn btn-success" })
                                </span>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"], orderBy = Request.QueryString["orderBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
</div>